*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    background-color: #6B6481;
}

.content{
    background-color:#180b4e;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 20px 20px #f8003e59 ;
    
}



.try{
    background-color: #F8003F;
    box-shadow: 20px 20px 20px 20px inset #180b4e;
    border-collapse: collapse;
    color: #F8003F ;
    font-weight: bold;
}
